<!DOCTYPE HTML>
  <html>
  <head>
    <title>Let's Play!</title>
    <link rel='stylesheet' href='main.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'></script>
  </head>
 <body ng-app='TicTacToe' ng-controller='game'>

 <div ng-view></div>

 <script src='app.js'></script>  
 
	  <h1>Tic Tac Toe</h1>

	  <table class='board'>
	  	<tr ng-repeat='row in [0,1,2]'>
	  		<td ng-repeat='column in [0,1,2]' class='cell' ng-click='playTurn()'>
	  			<button class="unclicked"></button>
	  		</td>
	  	</tr>
	  </table>

</body>

</html>