body {
	font-family: sans-serif;
	font-size: 32px;
}

h1 {
	text-align: center;
}

.board {
	display: flex;
	justify-content: center;
	empty-cells: show;	
}

tr {
	display: flex;
	justify-content: space-between;
	height: 200px;
	border: solid red;
}

td {
	display: flex;
	justify-content: space-between;
	width: 200px;
	padding: 0.5rem;
	border: solid blue;
}

button { 
	vertical-align: center;
	width: 150px; 
	height: 150px;
}

