body {
	font-family: sans-serif;
	font-size: 32px;
}

h1 {
	text-align: center;
}

.board {
	display: flex;
	justify-content: center;
	empty-cells: show;	
}

tr {
	display: flex;
	justify-content: space-between;
	height: 200px;
	border: solid red;
}

td {
	display: flex;
	justify-content: space-between;
	width: 200px;
	padding: 0.5rem;
	border: solid blue;
}

.column-0, .column-1 {
	border-right: black solid;
}

.row-0, .row-1 {
	border-bottom: black solid;
}

