body {
	font-family: sans-serif;
	flex-direction: column;
}

h1 {
	text-align: center;
}

.board {
	flex-grow: 1;
	width: 75%;
	display: flex; 
	flex-direction: row;
	margin-right: 25%; 
	margin-left: 25%;
}